@tailwind base;
@tailwind components;
@tailwind utilities;



.delay-0 {
    animation-delay: 0s;
  }
  .delay-150 {
    animation-delay: 0.15s;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }

  /* animations.css */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-on-scroll {
  opacity: 0;
}

.animate-on-scroll.visible {
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate-left {
  animation-name: slideInFromLeft;
}

.animate-right {
  animation-name: slideInFromRight;
}